.info {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
  height: 100%;
  align-items: center;
  & > li > div {
    background-color: #6f7276;
    font-size: 0.7em;
    color: white;
    border-radius: 4px;
    border: none;
    width: 101px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bxText {
  color: #828282;
}
